.not-found {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  box-sizing: border-box;
}

.not-found > h1 {
  margin: 0 0 20px 0;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  color: var(--text-default);
}

.not-found > h4 {
  margin: 40px 0 0 0;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  color: var(--text-default);
}

.not-found > img {
  max-width: 400px;
  width: 100%;
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  opacity: .8;
}

@media(max-width:768px) {
  .not-found > h1 {
    font-size: 24px;
  }

  .not-found > h4 {
    font-size: 18px;
    text-align: center;
  }
}
