---
layout: layouts/home.njk
title: Projects
templateClass: tmpl-post
eleventyNavigation:
  key: Projects
  order: 2
---

<section class="projects">
  <article class="project-card">
    <header class="project-header">digitalocean-js</header>
    <section class="project-description">
      <p>JavaScript library for the DigitalOcean API. For use in Node.js and in the browser.</p>
      <div class="post-tag">typescript</div>
      <div class="post-tag">nodejs</div>
    </section>
    <footer class="project-footer">
      <a href="https://github.com/johnbwoodruff/digitalocean-js" target="_blank">{% fortawesomeBrand 'github' %} Repository</a>
    </footer>
  </article>
  <article class="project-card">
    <header class="project-header">ngx-joypixels</header>
    <section class="project-description">
      <p>An Angular library for easily using JoyPixels' Emoji library in your application.</p>
      <div class="post-tag">typescript</div>
      <div class="post-tag">angular</div>
    </section>
    <footer class="project-footer">
      <a href="https://github.com/johnbwoodruff/ngx-joypixels" target="_blank">{% fortawesomeBrand 'github' %} Repository</a>
    </footer>
  </article>
  <article class="project-card">
    <header class="project-header">johnbwoodruff-blog</header>
    <section class="project-description">
      <p>This website you're browsing right now. Built from scratch using eleventy.</p>
      <div class="post-tag">eleventy</div>
      <div class="post-tag">css</div>
      <div class="post-tag">markdown</div>
    </section>
    <footer class="project-footer">
      <a href="https://github.com/johnbwoodruff/johnbwoodruff-blog" target="_blank">{% fortawesomeBrand 'github' %} Repository</a>
    </footer>
  </article>
  <article class="project-card">
    <header class="project-header">scripture-golf</header>
    <section class="project-description">
      <p>An LDS Scripture trivia mobile game built using Ionic and Capacitor.</p>
      <div class="post-tag">angular</div>
      <div class="post-tag">ionic</div>
      <div class="post-tag">capacitor</div>
    </section>
    <footer class="project-footer">
      <a href="https://github.com/johnbwoodruff/scripture-golf" target="_blank">{% fortawesomeBrand 'github' %} Repository</a>
    </footer>
  </article>
  <article class="project-card">
    <header class="project-header">theme-material-dark-soda</header>
    <section class="project-description">
      <p>A beautiful and vibrant Material Design theme for Visual Studio Code.</p>
      <div class="post-tag">vscode</div>
      <div class="post-tag">theme</div>
    </section>
    <footer class="project-footer">
      <a href="https://github.com/johnbwoodruff/theme-material-dark-soda" target="_blank">{% fortawesomeBrand 'github' %} Repository</a>
    </footer>
  </article>
  <article class="project-card">
    <header class="project-header">open-realms</header>
    <section class="project-description">
      <p>An open source alternative to Minecraft's Realms. Built on top of DigitalOcean using Node.js.</p>
      <div class="post-tag">nodejs</div>
      <div class="post-tag">digitalocean</div>
      <div class="post-tag">minecraft</div>
    </section>
    <footer class="project-footer">
      <a href="https://github.com/open-realms" target="_blank">{% fortawesomeBrand 'github' %} Repository</a>
    </footer>
  </article>
</section>
