.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.project-card {
  display: grid;
  grid-template-rows: min-content 1fr 52px;
  min-height: 250px;
  min-width: 350px;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px var(--box-shadow);
  border: 1px solid var(--border-light);
}

.project-card.hero-card {
  /* Span two columns */
  grid-template-rows: min-content min-content 1fr 52px;
  grid-column: span 2;
  min-width: 0;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-card > .project-header {
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
}

.project-card > .project-description {
  padding: 0 20px 20px 20px;
}

.project-card > .project-description > p {
  margin: 0;
}

.project-card > .project-description > .post-tag {
  display: inline-block;
  margin-top: 20px;
}

.project-card > .project-footer {
  display: grid;
  background-color: var(--background-shade);
  border-top: 1px solid var(--border-light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-card > .project-footer > a {
  display: grid;
  grid-template-columns: min-content 1fr;
  color: var(--text-default);
  justify-content: center;
  align-content: center;
  font-size: 18px;
}

.project-card > .project-footer svg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-left: 20px;
}

.project-card > .project-footer > p {
  margin: 0;
}

@media (max-width: 850px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card.hero-card {
    grid-column: span 1;
  }

  .project-card {
    align-self: center;
    justify-self: center;
    min-width: 0;
  }
}
