---
layout: layouts/home.njk
title: About Me
templateClass: tmpl-post
eleventyNavigation:
  key: About Me
  order: 3
---

<img class="profile-photo" src="/img/latest-profile-sq.jpg" alt="Profile Photo">

<h2>Hello there</h2>

<p>You've made it to my personal website! This is the place for all of my musings in blog-post format, a portfolio of some of the projects I've worked on, and just generally a place for me to add a little bit of myself to the exabytes of data that makes up the internet.</p>

<h2>What do I like to do?</h2>

<p>I love to code obviously. I also love gaming. I play a ton of games in the Legend of Zelda series, as well as many others such as Sea of Thieves, the Ori and the Blind Forest series, and a variety of Pokémon games. Otherwise I spend all my free time with my family.</p>

<h2>What am I working on?</h2>

<p>Besides the many things I work on at my place of employment, I love to work on many side projects at all times. I've written about my <a href="/posts/my-github-graveyard/">GitHub Graveyard</a> before and have absolutely added to that pile of side projects since writing that post. My primary side project is <a href="https://novella.app">Novella</a>, a modern distraction-free writing application. I've had a lot of fun writing it. Check out my <a href="/posts/novella/">post</a> on that if you're interested.</p>

<h2>My current employment</h2>

<p>I am a Team Lead Software Engineer at an HR tech company called <a href="https://hibob.com">HiBob</a>. The company I worked for previously, Mosaic, was acquired by HiBob and I joined via that acquisition. There are many interesting problems to be solved and I'm loving it. Previously I was a Senior Software Engineer at <a href="https://get.goreact.com">GoReact</a>, and before that, a Software Engineer at <a href="https://domo.com">Domo</a>.</p>
