---
layout: layouts/home.njk
title: About Me
templateClass: tmpl-post
eleventyNavigation:
  key: About Me
  order: 3
---

<img class="profile-photo" src="/img/latest-profile-sq.jpg" alt="Profile Photo">

<h2>Hello there</h2>

<p>You've made it to my personal website! This is the place for all of my musings in blog-post format, a portfolio of some of the projects I've worked on, and just generally a place for me to add a little bit of myself to the exabytes of data that makes up the internet.</p>

<h2>What do I like to do?</h2>

<p>I love to code obviously. I also love gaming and stream my gaming fun over on my <a href="https://twitch.tv/jorgnaan">Twitch Channel</a>, going by Jorgnaan. I play a ton of games in the Legend of Zelda series, as well as many others such as Sea of Thieves, the Ori and the Blind Forest series, and a variety of Pokémon games. Otherwise I spend all my free time with my family.</p>

<h2>What am I working on?</h2>

<p>Besides the many things I work on at my place of employment, I love to work on many side projects at all times. I've written about my <a href="/posts/2018-08-14_my-github-graveyard/">GitHub Graveyard</a> before and have absolutely added to that pile of side projects since writing that post. I am, however, working on a fun application that I hope to actually and properly release soon. I'll post about it on my blog when it's ready to go, so keep your eye on that.</p>

<h2>My current employment</h2>

<p>I am a Senior Software Engineer and leading a team at a great company called <a href="https://get.goreact.com">GoReact</a>. There are many interesting problems to be solved and I'm loving it. Previously I was a Software Engineer at <a href="https://domo.com">Domo</a>.</p>
